.background {
    background-image: url(../../Images/bg_image.webp);
    max-width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}