.stack {
    width: 60%;
    margin: auto;
    padding-top: 30vh;

    .alert {
        background: #E8EAED;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 160px
    }
}